source_up

export GEM5_HOME="/root/project/imcflow/pmap/ISA_sim/gem5"
export PYTHONPATH=$PYTHONPATH:/root/project/tvm/tvm_practice/tvm_env/lib/python3.10/site-packages
source /root/project/tvm/tvm_practice/tvm_env/bin/activate
unset PS1
