Magic 271485
Revision Verdi_V-2023.12-SP2-4

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 931 319 330

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/root/project/imcflow/pmap/ISA_sim/gem5/tests/imcflow/rtl_runner/imcflow_gem5.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 441014135.623108 458338000.000000
cursor 452020000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 219

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "imce_3_4"
addSubGroup "ctrl_ex"
activeDirFile "" "/root/project/imcflow/pmap/ISA_sim/gem5/tests/imcflow/rtl_runner/imcflow_gem5.fsdb"
addSignal -h 15 -UNSIGNED /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/ctrl_ex/opcode[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bshr_sel[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope blk_strobe[3:0]
addSignal -h 15 -holdScope dwresult_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope shift_amt[2:0]
addSignal -h 15 -holdScope ksel
addSignal -h 15 -UNSIGNED -HEX -holdScope imm1[13:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope imm2[5:0]
addSignal -h 15 -holdScope is_imm
addSignal -h 15 -UNSIGNED -HEX -holdScope fifo_id[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rd[5:0]
addSignal -h 15 -holdScope we
addSignal -h 15 -UNSIGNED -HEX -holdScope qreg_start_idx[3:0]
addSignal -h 15 -holdScope qreg_we
addSignal -h 15 -holdScope layer_update
addSignal -h 15 -holdScope recv_rd_is_zero
addSignal -h 15 -holdScope recv_addr_is_zero
addSignal -h 15 -holdScope mem_en
addSignal -h 15 -holdScope mem_we
addSignal -h 15 -holdScope is_cmd_rf_write
addSignal -h 15 -holdScope fifo2lbuf
addSignal -h 15 -holdScope fifo2rf
addSignal -h 15 -UNSIGNED -HEX -holdScope rs1[5:0]
endSubGroup "ctrl_ex"
addSubGroup "imce_tx"
addSignal -expanded -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/imce_tx/data
addSignal -h 15 -UNSIGNED -HEX -holdScope data.fifo_id[2:0]
addSignal -h 15 -UNSIGNED -holdScope data.cmd[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data.addr[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data.word[255:0]
addSignal -h 15 -holdScope valid
addSignal -h 15 -UNSIGNED -HEX -holdScope next_policy[5:0]
addSignal -h 15 -holdScope ready
addSignal -h 15 -UNSIGNED -HEX -holdScope uuid[31:0]
endSubGroup "imce_tx"
addSubGroup "fds"
endSubGroup "fds"
addGroup "router_3_4" -e FALSE
addSubGroup "flow_rx"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/u_router/flow_rx/data[0:4]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope valid[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[3]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[4]
addSignal -h 15 -holdScope next_policy[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[0:4]
addSignal -h 15 -holdScope uuid[0:4]
endSubGroup "flow_rx"
addSubGroup "flow_tx"
addSignal -expanded -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/u_router/flow_tx/data[0:4]
addSignal -h 15 -holdScope data[0]
addSignal -h 15 -holdScope data[1]
addSignal -h 15 -holdScope data[2]
addSignal -h 15 -holdScope data[3]
addSignal -h 15 -holdScope data[4]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope valid[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[3]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[4]
addSignal -h 15 -holdScope next_policy[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[0:4]
addSignal -h 15 -holdScope uuid[0:4]
endSubGroup "flow_tx"
addSubGroup "fds"
endSubGroup "fds"
addGroup "G5"
addGroup "imce_3_3" -e FALSE
addSubGroup "u_linebuffer"
addSubGroup "input_rx" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/u_linebuffer/input_rx/data[255:0]
addSignal -h 15 -holdScope valid
addSignal -h 15 -holdScope ready
endSubGroup "input_rx"
addSubGroup "bshr_tx"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/u_linebuffer/bshr_tx/data
addSignal -h 15 -holdScope valid
addSignal -h 15 -holdScope ready
endSubGroup "bshr_tx"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/u_linebuffer/rstn_i
endSubGroup "u_linebuffer"
addSubGroup "recv_if" -e FALSE
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/recv_if/data
addSignal -h 15 -holdScope valid
addSignal -h 15 -holdScope ready
endSubGroup "recv_if"
addSubGroup "u_hazard_detector"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/u_hazard_detector/clk_i
addSignal -h 15 -UNSIGNED /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/u_hazard_detector/ctrl_ex/opcode[5:0]
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/u_hazard_detector/recv_hs
addSignal -h 15 -holdScope send_hs
addSignal -h 15 -holdScope step_hs
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/hs_remaining
addSignal -h 15 -UNSIGNED /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/u_hazard_detector/state[1:0]
addSignal -h 15 -holdScope flag_write_hs
addSignal -h 15 -holdScope flag_same
addSignal -h 15 -holdScope scan_done
addSignal -h 15 -holdScope if_stall
addSignal -h 15 -holdScope if_flush
addSignal -h 15 -holdScope id_stall
addSignal -h 15 -holdScope ex_stall
endSubGroup "u_hazard_detector"
addSubGroup "ctrl_ex" -e FALSE
addSignal -h 15 -UNSIGNED /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/ctrl_ex/opcode[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope bshr_sel[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope blk_strobe[3:0]
addSignal -h 15 -holdScope dwresult_valid
addSignal -h 15 -UNSIGNED -HEX -holdScope shift_amt[2:0]
addSignal -h 15 -holdScope ksel
addSignal -h 15 -UNSIGNED -HEX -holdScope imm1[13:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope imm2[5:0]
addSignal -h 15 -holdScope is_imm
addSignal -h 15 -UNSIGNED -HEX -holdScope fifo_id[5:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope rd[5:0]
addSignal -h 15 -holdScope we
addSignal -h 15 -UNSIGNED -HEX -holdScope qreg_start_idx[3:0]
addSignal -h 15 -holdScope qreg_we
addSignal -h 15 -holdScope layer_update
addSignal -h 15 -holdScope recv_rd_is_zero
addSignal -h 15 -holdScope recv_addr_is_zero
addSignal -h 15 -holdScope mem_en
addSignal -h 15 -holdScope mem_we
addSignal -h 15 -holdScope is_cmd_rf_write
addSignal -h 15 -holdScope fifo2lbuf
addSignal -h 15 -holdScope fifo2rf
addSignal -h 15 -UNSIGNED -HEX -holdScope rs1[5:0]
endSubGroup "ctrl_ex"
addSubGroup "imce_rx"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/imce_rx/data
addSignal -h 15 -holdScope valid
addSignal -h 15 -UNSIGNED -HEX -holdScope next_policy[5:0]
addSignal -h 15 -holdScope ready
addSignal -h 15 -UNSIGNED -HEX -holdScope uuid[31:0]
endSubGroup "imce_rx"
addSubGroup "imce_tx"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/imce_tx/data
addSignal -h 15 -holdScope valid
addSignal -h 15 -UNSIGNED -HEX -holdScope next_policy[5:0]
addSignal -h 15 -holdScope ready
addSignal -h 15 -UNSIGNED -HEX -holdScope uuid[31:0]
endSubGroup "imce_tx"
addSubGroup "ff]"
endSubGroup "ff]"
addGroup "router_3_3" -e FALSE
addSubGroup "u_crossbar" -e FALSE
addSubGroup "flow_in" -e FALSE
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_crossbar/flow_in/data[0:4]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope valid[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[3]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[4]
addSignal -h 15 -holdScope next_policy[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[0:4]
addSignal -h 15 -holdScope uuid[0:4]
endSubGroup "flow_in"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_crossbar/clk_i
addSignal -h 15 -holdScope rstn_i
addSignal -h 15 -holdScope policy_cmd_reg
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope gnt_i[4:0]
addSignal -h 15 -holdScope gnt_i[4]
addSignal -h 15 -holdScope gnt_i[3]
addSignal -h 15 -holdScope gnt_i[2]
addSignal -h 15 -holdScope gnt_i[1]
addSignal -h 15 -holdScope gnt_i[0]
addSignal -expanded -h 15 -holdScope o2i_route_table[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o2i_route_table[4][2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o2i_route_table[3][2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o2i_route_table[2][2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o2i_route_table[1][2:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope o2i_route_table[0][2:0]
addSignal -h 15 -holdScope prev_handshakes[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope merged_dst_vec[4:0]
endSubGroup "u_crossbar"
addSubGroup "u_tx_selector" -e FALSE
addSubGroup "crossbar_tx"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_tx_selector/crossbar_tx/data[0:4]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope valid[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[3]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[4]
addSignal -h 15 -holdScope next_policy[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[0:4]
addSignal -h 15 -holdScope uuid[0:4]
endSubGroup "crossbar_tx"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_tx_selector/policy_cmd_reg
endSubGroup "u_tx_selector"
addSubGroup "flow_rx"
addSignal -expanded -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/flow_rx/data[0:4]
addSignal -h 15 -holdScope data[0]
addSignal -h 15 -holdScope data[1]
addSignal -expanded -h 15 -holdScope data[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope data[2].fifo_id[2:0]
addSignal -h 15 -UNSIGNED -holdScope data[2].cmd[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data[2].addr[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope data[2].word[255:0]
addSignal -h 15 -holdScope data[3]
addSignal -h 15 -holdScope data[4]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope valid[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[3]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[4]
addSignal -h 15 -holdScope next_policy[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[0:4]
addSignal -h 15 -holdScope uuid[0:4]
endSubGroup "flow_rx"
addSubGroup "flow_tx"
addSignal -expanded -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/flow_tx/data[0:4]
addSignal -h 15 -holdScope data[0]
addSignal -h 15 -holdScope data[1]
addSignal -h 15 -holdScope data[2]
addSignal -h 15 -holdScope data[3]
addSignal -h 15 -holdScope data[4]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope valid[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[3]
addSignal -h 15 -UNSIGNED -HEX -holdScope valid[4]
addSignal -h 15 -holdScope next_policy[0:4]
addSignal -expanded -h 15 -UNSIGNED -HEX -holdScope ready[0:4]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[1]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[2]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[3]
addSignal -h 15 -UNSIGNED -HEX -holdScope ready[4]
addSignal -h 15 -holdScope uuid[0:4]
endSubGroup "flow_tx"
addSubGroup "fds"
endSubGroup "fds"
addGroup "inode_1_0"
addSignal -h 15 /testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/mem_stage/u_mem/sram[2047:0]
addGroup "G7"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/root/project/imcflow/pmap/ISA_sim/gem5/tests/imcflow/rtl_runner/imcflow_gem5.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/_vcs_unit__594455087"
"/testbench_imcflow_gem5"
"/testbench_imcflow_gem5/u_imcflow_with_axi"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/ex_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/id_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/mem_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/mem_stage/u_mem"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/ctrl_ex"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/ctrl_ex_out"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/u_linebuffer"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_crossbar"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_tx_selector"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce"

SCOPE_LIST_BEGIN
"/_vcs_unit__502484750"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce"
"/_vcs_unit__594455087"
"/testbench_imcflow_gem5"
"/testbench_imcflow_gem5/u_imcflow_with_axi"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/imce_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/u_router"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_linebuffer"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_linebuffer/bshr_set_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_linebuffer/bshr_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_linebuffer/ctrl"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/imce_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_linebuffer/input_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/pimc_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/u_router/flow_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/u_router/flow_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/u_router/crossbar_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/crossbar_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/flow_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/flow_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[2]/imce_node/u_router"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[2]/imce_node/u_router/flow_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[2]/imce_node/u_router/flow_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[2]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[1]/imce_node/u_router"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[1]/imce_node/u_router/flow_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[1]/imce_node/u_router/flow_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/flow_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/flow_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/if_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/id_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/ex_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/ex_mem_pipe"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/crossbar_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/packet_intl"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/rx_prof"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/tx_prof"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/u_crossbar"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/u_input_block"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/u_policy_table"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/u_policy_table_decoder"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/u_rx_policy_decoder"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/intf_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/intf_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/u_intf_node_fsm"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/wb_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/ex_stage/recv_fifo_pop"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/ex_stage/u_recv_fifo"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_intf_node/ex_stage/intf_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[0]/inode/u_router/u_tx_selector"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_crossbar"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[1]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[1]/imce_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_ctrl"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/ex_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/mem_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/id_stage/u_reg_file_intf_node"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/ctrl_ex"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/ctrl_id"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_erf"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/id_stage"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_erf/u_gpr"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_erf/u_gpr/u_mem2"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/u_erf/u_gpr/u_mem1"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_imce_datapath/ctrl_ex_in"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/ctrl_id"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/u_hazard_detector"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/pimc_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/pimc"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/u_linebuffer"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/u_linebuffer/bshr_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/u_linebuffer/input_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/imce_rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/imce_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/ctrl_ex"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_fifo_block"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_fifo_block/fifo_gen[2]"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/u_fifo_block/fifo_gen[2]/u_fifo"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_tx_selector"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_tx_selector/crossbar_tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/crossbar_tx/in"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/crossbar_tx/rx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/crossbar_tx/tx"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/u_router/u_crossbar/flow_in"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[4]/imce_node/imce/ctrl_ex"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/ctrl_ex"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/ctrl_ex_out"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_ctrl/recv_if"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/ctrl_ex_in"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/lbuf"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[3]/core_col[3]/imce_node/imce/u_imce_datapath/u_linebuffer/datapath"
"/testbench_imcflow_gem5/u_imcflow_with_axi/u_imcflow_impl/core_row[0]/core_col[0]/inode/u_intf_node/mem_stage/u_mem"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END
